# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Node
node_modules/
.next/
out/

# Database
*.db
*.sqlite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database dumps / backups
*.sql
*.backup
*.bak